body {
    	color: #FFFFFF;
 	background-color: #000000;
}

div {
	position: absolute;
	top: 30%;
	left: 30%;
	border: 3px solid #FFFFFF;
	background-color: #000000;
	opacity: 0.8;
}


canvas {
	position: absolute;
	margin: auto;
	/*left: 0px;*/
	top: 0px;
	z-index: -1;
}

#shutdown{
	color: #FFFFFF;
}

#entry {
	background-color: #000000;
}

#ok_button {
	background-color: #000000;
}
